<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="xunit" exceptVersion="2.2.0" targetFramework="net47" />
  <package id="xunit.abstractions" exceptVersion="2.0.1" targetFramework="net47" />
  <package id="xunit.assert" exceptVersion="2.2.0" targetFramework="net47" />
  <package id="xunit.core" exceptVersion="2.2.0" targetFramework="net47" />
  <package id="xunit.extensibility.core" exceptVersion="2.2.0" targetFramework="net47" />
  <package id="xunit.extensibility.execution" exceptVersion="2.2.0" targetFramework="net47" />
</packages>